.hero-section {
  margin-top: 150px;
  width: 85%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.sections {
  display: flex;
  height: 15%;
}

.section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.items {
  height: 60%;
  margin-top: 42px;
  text-align: center;
}

.item {
  height: 90px;
  display: flex;
  margin-bottom: 10px;
  box-shadow: 0 0 3px gray;
  position: relative;
}

.item-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-section1 {
  flex: 1;
  display: flex;
}

.product-img {
  height: 80%;
  width: 70%;
  object-fit: cover;
  object-position: center;
}

.cart-btns {
  margin-top: 21px;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.cart-btns button {
  border: 1px solid gray;
  background-color: white;
  border-radius: 3px;
  height: fit-content;
  padding: 16px 32px;
  font-weight: bold;
  transition: 0.15s ease-in-out;
}

.cart-btns button:hover {
  cursor: pointer;
}

.order-summary {
  margin-top: 100px;
  height: 300px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.coupons {
  width: 60%;
  height: 100%;
}

.cart-total {
  width: 40%;
  height: 100%;
  border: 1px solid black;
  border-radius: 3px;
}

.coupon-input {
  padding: 16px 32px;
  border-radius: 3px;
  border: 1px solid black;
}

.coupon-btn {
  padding: 17px 32px;
  background-color: #DB4444;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
}

.cart-total {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.total-header{
  font-weight: bold;
  font-size: 20px;
}

.subtotal,
.shipping,
.total {
  height: 19%;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}

.total {
  border: none;
}

.checkout {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout button {
  padding: 12px 30px;
  border: none;
  background-color: #DB4444;
  border-radius: 3px;
  color: white;
}

.delete-item {
  position: absolute;
  right: 10px;
  top: 40px;
  background-color: #DB4444;
  padding: 4px 8px;
  color: white;
}

.delete-item:hover {
  cursor: pointer;
}