body {
  font-family: sans-serif;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  height: 90px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.msg-ln {
  width: 100%;
  height: 40%;
  background-color: black;
  display: flex;
  align-items: center;
  color: white;
}

.msg-ln-div {
  width: 60%;
  margin-left: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language {
  border: none;
  background-color: black;
  color: white;
  height: 30px;
}

.nav-bar {
  width: 100%;
  height: 60%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: end;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}


.nav-bar-div {
  width: 85%;
  height: 50%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.nav-bar-items-div {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.nav-bar-items {
  text-decoration: none;
  color: black;
}

.nav-bar-div-search-div {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-div-search {
  height: 100%;
  background-color: #F5F5F5;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-bar-div-search-div-1 {
  height: 80%;
  border: none;
  background-color: #F5F5F5;
}

.nav-bar-div-search-div-1::placeholder {
  font-size: 10px;
}

.nav-bar-div-search-div-1:focus {
  outline: none;
}

.fa-solid {
  transition: all 0.15s;
}

.fa-solid:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.fa-heart {
  margin-right: 10px;
}

.footer {
  height: 300px;
  margin-top: 50px;
  background-color: black;
  color: white;
}

.footer-top {
  height: 87%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-top-container {
  height: 75%;
  width: 80%;
  display: flex;
  gap: 30px;
}

.footer-top-div {
  flex: 1;
}

.footer-top-div-header {
  font-weight: bold;
  font-size: 20px;
  height: 10%;
}

.footer-top-div-header-2 {
  margin-top: 20px;
  font-size: 20px;
}

.footer-top-div-content {
  margin-top: 20px;
  font-size: 17px;
  height: 10%;
}

.footer-top-div-content-input {
  height: fit-content;
  padding: 5px 0px;
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 5px;
}

.footer-email-input {
  border: none;
  padding: 5px 10px;
  background-color: transparent;
  color: white;
}

.footer-email-input:focus {
  outline: none;
}

.footer-bottom {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#a6a6a6;
}

.download-app-info {
  font-size: 12px;
  color: #a6a6a6;
  height: 5%;
  margin-top: 20px;
}

.download-app-links-container {
  height: 50%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.download-app-links-container-left,
.download-app-links-container-right {
  flex: 1;
  height: 100%;
}

.download-app-links-container-left{
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-app-links-container-left .fa-qrcode {
  font-size: 80px;
}

.download-app-links-container-right {
  display: flex;
  flex-direction: column;
}

.download-app-links-container-right-top,
.download-app-links-container-right-bottom {
  flex: 1;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-app-bottom-links {
  margin-top: 5px;
  height: 15%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.icon-link {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-card {
  width: 95%;
  height: 240px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background-color: #F5F5F5;
}

.item-card-image {
  height: 60%;
  position: relative;
}

.add-to-cart {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 20%;
  color: white;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.15s ease-in-out;
}

.like-btn {
  position: absolute;
  background-color: #a6a6a668 ;
  border-radius: 100px;
  padding: 4px 5px 2px 5px;
  top: 5px;
  right: 5px;
  color: white;
}

.like-btn .fa-heart {
  margin: 0;
}

.like-btn .fa-heart-clicked {
  color: #DB4444;
}

.view-btn {
  position: absolute;
  background-color: #a6a6a647 ;
  border-radius: 100px;
  padding: 4px 5px 2px 5px;
  top: 35px;
  right: 4px;
  color: white;
}

.discount {
  position: absolute;
  background-color: #DB4444 ;
  top: 10px;
  padding: 4px 8px;
  border-radius: 5px;
  left: 5px;
  color: white;
  font-size: 12px;
}

.item-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.item-card-info {
  height: 40%;
}

.item-card-info-name,
.item-card-info-price,
.item-card-info-rating {
  height: 30%;
  display: flex;
  align-items: center;
}

.item-card-info-name {
  font-weight: bold;
  font-size: 12px;
}

.item-card-info-price {
  color: #DB4444;
  font-size: 10px;
}

.item-card-info-rating {
  font-size: 14px;
}

.item-card:hover,
.item-card-2:hover {
  cursor: pointer;
  .add-to-cart{
    opacity: 1;
  }
}

.heart-icon {
  position: relative;
}

.heart-icon-counter {
  position: absolute;
  color: white;
  background-color: #DB4444;
  border-radius: 100px;
  top: -8px;
  right: -10px;
  padding: 4px 6px;
  font-size: 8px;
}

.services {
  width: 55%;
  height: 200px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.services-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.services-item-icon {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-item-icon .fa-solid {
  font-size: 35px;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 500px;
  border: 10px solid #a6a6a6;
}

.services-item-info {
  height: 30%;
}

.services-item-info-desc, 
.services-item-info-header {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-item-info-header {
  font-weight: bold;
  font-size: 18px;
}

.services-item-info-desc {
  font-size: 14px;
}

.swiper-pagination .swiper-pagination-bullet{
  background-color: #a6a6a6;
}

.swiper-pagination .swiper-pagination-bullet-active{
  background-color: #DB4444;
  border: 2px solid #a6a6a6;
}