.hero-section {
  height: 320px;
  display: flex;
  flex-direction: row;
  margin-top: 90px;
}

.categories {
  width: 25%;
  height: 100%;
  border-right: 1px solid hsl(0, 0%, 80%);
  display: flex;
  justify-content: end;
}

.categories-section {
  width: 60%;
  height: 70%;
  margin-top: 30px;
  }

.categories-section a{
  display: block;
  color: black;
  text-decoration: none;
  font-size: 14px;
  margin-top: 15px;
}

.categories a:hover {
  text-decoration: underline;
}

.shop-preview {
  width: 80%;
}

.my-swiper-container {
  margin-top: 45px;
  margin-left: 40px;
  width: 80%;
  height: 86%;
}

.swiper {
  height: 100%;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.today-section {
  margin-left: 110px;
  width: 92%;
  height: 350px;
  margin-top: 50px;
}

.today-section-top {
  width: 86%;
  height: 20%;
  margin-bottom: 30px;
  display: flex;
}

.left,
.right {
  flex: 1;
  height: 100%;
  display: flex;
}

.left {
  justify-content: space-between;
}

.left-left-1 {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-header {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Segoe UI';
  display: flex;
  justify-content: space-between;
  color: #DB4444;
  height: 35%;
  width: 50%;
  align-items: center;
}

.categories-header {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Segoe UI';
  display: flex;
  justify-content: space-between;
  color: #DB4444;
  height: 35%;
  width: 60%;
  align-items: center;
}

.section-header-color {
  width: 20%;
  height: 100%;
  background-color: #DB4444;
  border-radius: 5px;
}

.categories-header-color {
  width: 17%;
  height: 100%;
  background-color: #DB4444;
  border-radius: 5px;
}

.categories-section-items-top {
  display: flex;
  flex-direction: row;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  white-space: nowrap;
}

.left-right-1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 30px;
  font-weight: bold;
}

.right {
  justify-content: end;
  align-items: end;
}

.right-btns {
  margin-right: 5px;
  width: 70px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  margin-right: 2px;
}

.right-btns .fa-solid {
  background-color: #F5F5F5;
  padding: 10px;
  border-radius: 20px;
}

.today-section-products {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.view-products-btn-div {
  margin-left: 110px;
  width: 80%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-products-btn {
  background-color: #DB4444;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 2px;
  transition: all 0.15;
}

.view-products-btn:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.categories-section-items {
  margin-left: 110px;
  width: 80%;
  height: 275px;
  margin-top: 50px;
}

.categories-section-items-top {
  width: 100%;
  height: 35%;
  margin-bottom: 24px;
}

.categories-section-items-bottom {
  width: 100%;
  height: 54%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.categories-item {
  width: 170px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid hsl(0, 0%, 90%);
  border-radius: 3px;
  transition: all 0.15 ease-in-out;
}

.categories-item:hover {
  background-color: #DB4444;
  color: white;
}

.categories-item-icon {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px;
}

.categories-btn {
  font-size: 50px;
}

.categories-item-name {
  height: 40%;
  display: flex;
  justify-content: center;
}

.this-month {
  margin-left: 110px;
  width: 80%;
  height: 400px;
  margin-top: 50px;
}

.this-month-top {
  width: 100%;
  height: 25%;
  margin-bottom: 64px;
  display: flex;
}

.this-month-bottom {
  width: 99.8%;
  height: 57%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.item-card-2 {
  flex: 1;
  max-width: 250px;
  height: 100%;
  background-color: #F5F5F5;
}

.categories-card {
  margin-left: 110px;
  width: 80%;
  height: 500px;
  margin-top: 50px;
  background-color: black;
  display: flex;
}

.categories-card-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories-card-image {
  width: 50%;
  background: radial-gradient(circle, rgb(45, 45, 45) 59%, rgb(39, 39, 39) 68%, rgba(0,0,0,1) 100%);
  border-radius: 50%;
  box-shadow: 0 0 1000px rgb(67, 67, 67);
}

.categories-card-img {
  width: 100%;
  height: 100%;
}

.categories-card-info-header {
  height: 10%;
  width: 90%;
  color: #00FF66;
  font-weight: bold;
  display: flex;
  align-items: end;
  margin-bottom: 10px;
}

.categories-card-info-title {
  height: 40%;
  width: 90%;
  color: white;
  font-weight: bold;
  font-size: 58px;
  display: flex;
  align-items: center;
}

.time {
  height: 15%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.time-day {
  flex: 1;
  height: 100%;
  background-color: white;
  border-radius: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buy-now {
  height: 20%;
  width: 90%;
}

.buy-now-btn {
  padding: 16px 32px;
  color: black;
  background-color: #00FF66;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  transition: all 0.15 ease-in-out;
}

.buy-now-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.products {
  margin-left: 110px;
  width: 80%;
  height: 700px;
  margin-top: 50px;
}

.products-top {
  height: 15%;
  display: flex;
}

.products-bottom {
  height: 82%;
  margin-top: 20px;
}

.product-swipper-2 {
  height: 90%;
  overflow: hidden;
}

.view-products-btn-div-2 {
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-products-btn-div-2 .view-products-btn {
  height: 80%;
}

.featured-items {
  margin-left: 110px;
  width: 80%;
  height: 600px;
  margin-top: 50px;
}

.featured-items-top {
  height: 15%;
  display: flex
}

.featured-items-bottom {
  height: 77.4%;
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

.featured-items-bottom-left,
.featured-items-bottom-right {
  flex: 1;
  border-radius: 5px;
}

.featured-items-bottom-left {
  position: relative;
}

.featured-items-more-info {
  position: absolute;
  width: 40%;
  height: 30%;
  left: 10px;
  bottom: 20px;
  color: white;
}

.more-info-header {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
}

.more-info-desc {
  font-size: 14px;
  margin-top: -10px;
}

.shop-now-link {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px;
  display: inline-block;
  margin-top: 0;
}

.shop-now-link:hover {
  cursor: pointer;
}

.featured-items-bottom-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.featured-items-bottom-right-top,
.featured-items-bottom-right-bottom {
  height: 50%;
  border-radius: 5px;
  position: relative;
}

.featured-items-bottom-right-top .featured-items-more-info {
  height: 50%;
}

.featured-items-bottom-right-bottom {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.featured-items-bottom-right-bottom-left, 
.featured-items-bottom-right-bottom-right {
  flex: 1;
  border-radius: 5px;
  position: relative;
}

.featured-items-bottom-right-bottom-left .featured-items-more-info {
  width: 50%;
  height: fit-content;
  top: 20px;
}

.featured-items-bottom-right-bottom-right .featured-items-more-info {
  width: 50%;
  height: fit-content;
}

.featured-img {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.featured-items-bottom-right-top .featured-img {
  object-position: 0 10%;
}

.go-up {
  width: 70%;
  height: 50px;
  margin-top: 20px;
  margin-left: 300px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.fa-arrow-up {
  background-color: #F5F5F5;
  padding: 15px 18px;
  border-radius: 100px;
}